[2015-09-05 15:00] kenorb opened #2 "dl_bt_dukascopy.py: CSV file is not always generated."
Testing command:

    ./dl_bt_dukascopy.py -y 2014 -p EURUSD -c

on the existing folder with already existing files.

Problem:
- the CSV file is not generated for every file.

Log:

	Converting into CSV (download/EURUSD/2014-02-14--19h_ticks.csv)...
	Downloading http://www.dukascopy.com/datafeed/EURUSD/2014/02/14/20h_ticks.bi5 into: download/EURUSD/2014-02-14--20h_ticks.bi5...
	Converting into CSV

[2015-09-05 19:26] kenorb opened #3 "dl_bt_dukascopy.py: EOFError: Compressed file ended before the end-of-stream marker was reached"
Command:

    ./dl_bt_dukascopy.py -y 2013 -p EURUSD -c

Traceback:

	Converting into CSV (download/EURUSD/2013-01-07--01h_ticks.csv)...
	Traceback (most recent call last):
	  File "./dl_bt_dukascopy.py", line 159, in <module>
	    ds.bt5_to_csv()
	  File "./dl_bt_dukascopy.py", line 102, in bt5_to_csv
	    data = f.read()
	  File "/usr/local/Cellar/python3/3.4.3/Frameworks/Python.framework/Versio

[2015-09-05 21:18] juanj commented on #2
This isn't a bug, at least on your part of the code.
This happens because the downloaded ticks.bi5 of that date/hour is empty.

If you download that data from the "Historical Data Feed" you may notice that data is missing:
![captura de pantalla 2015-09-05 a las 4 12 09 p m](https://cloud.githubusercontent.com/assets/1958175/9701321/316bbafc-53e9-11e5-939d-c8844a739f83.png)
(In the image the data s

[2015-09-05 21:38] kenorb commented on #2
@juanj Thank you for the explanation. I think you're right, let me double check that tomorrow. If that's the case, how do I send you bounty (as I'm using this first time, and I wasn't expect so quick reply), as I don't see any option to do that?

[2015-09-05 21:51] kenorb commented on #2
@juanj Or can you actually add any message that indicates that the dataset is empty, to avoid confusion?

[2015-09-06 18:02] juanj commented on #2
I am new at this too.
You have to mark this issue as closed so then i can claim the bounty.

[2015-09-06 18:05] kenorb commented on #2
Fixed.

[2015-09-06 18:05] #2 closed

[2015-09-07 15:48] d-a-t-a-d-i-t commented on #3
https://github.com/d-a-t-a-d-i-t/FX-BT-Scripts/commit/d119202a17db91351b29489505b99330039206f3

[2015-09-09 23:26] kenorb commented on #3
Fixed and merged.

[2015-09-21 19:58] kenorb opened #6 "New script: dl_bt_metaquotes.py [$130]"
New script needs to be created: `dl_bt_metaquotes.py` for downloading backtest data (DAT) for given symbol (`-p`) and years (`-y`) from metaquotes.net into given folder (`-d`, e.g. `download/metaquotes/yyyy/mm/`) and convert it to CSV (`-c`), similar to `dl_bt_dukascopy.py`.

Example URL: http://history.metaquotes.net/symbols/EURUSD/list.txt

The script should be fairly similar to: `dl_bt_dukascop

[2015-09-23 19:32] kenorb opened #8 "Allow to specify the months."
File: `dl_bt_dukascopy.py`

New parameter: `-m`. If not specified, all months are downloaded by default.
Example syntax: `-m 1`, `-m 02`, `-m 1,2,5,12`

Example syntax:

    python3 dl_bt_dukascopy.py -v -p EURUSD -y 2014 -m 1,2,3,5

Bounty: https://www.bountysource.com/issues/26905050-allow-to-specify-the-months

[2015-09-23 21:06] kenorb opened #10 "Add output file option for convert_mt_to_csv.py."
For testing purposes, please add the output parameter (`-o OUTPUTFILE`) to `convert_mt_to_csv.py` (previously `mt_dump.py`). Currently it dumps into the standard output.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26907534-add-output-file-option-for-convert_mt_to_csv-py?utm_campaign=plugin&utm_content=tracker%2F20487492&utm_mediu

[2015-09-23 21:33] kenorb commented on #8
Looks great, thank you.

[2015-09-23 21:33] #8 closed

[2015-09-23 21:53] kenorb opened #12 "Fix Makefile to pass Travis CI [$10]"
File: `Makefile`

So Makefile must pass, then Travis CI (see: `.travis.yml`) should be happy:

[![Build Status](https://api.travis-ci.org/FX31337/FX-BT-Scripts.svg?branch=master)](https://travis-ci.org/FX31337/FX-BT-Scripts)

based on the existing logic in Makefile.

Run `make test` on local to test it locally.

The Makefile test includes:

1. Initial test of Python syntax (`--help`) which already

[2015-09-23 22:25] kenorb opened #13 "Can't Ctrl-C when Python script is busy."
File: `convert_csv_to_mt.py`

When there is a long conversion, I can't stop the script by pressing Ctrl-C, something is blocking it.

The workaround is to do: Ctrl-Z, then `kill %1`. So I believe something is wrong.

[2015-09-24 11:08] d-a-t-a-d-i-t commented on #13
[Fixed.](https://github.com/d-a-t-a-d-i-t/FX-BT-Scripts/commit/488cf2f5db76608f4c85a07c540b4b7e4cbc8198)

[2015-09-24 11:15] d-a-t-a-d-i-t commented on #10
Well, the current output in its form is just a more human-readable text dump.
Should the output file include this kind of text or a real [CSV](https://en.wikipedia.org/wiki/Comma-separated_values) formatted text?

[2015-09-24 12:07] #13 closed

[2015-09-24 13:10] kenorb commented on #10
Yes, if you can output into similar format as the other script doing that, currently it's doing blank spaces, so I believe we need just commas and this extra option.

[2015-09-24 13:57] kenorb commented on #10
However commas are not necessary, as long we output plain text, I just need it for testing purposes to do something like:

    find . -name "*.hst" -execdir python3 $CMD -i {} -f fxt4 -o {}.csv

as part of the testing, then compare number of rows between original CSV file and output.

[2015-09-24 18:49] aconz2 commented on #10
Do you have any `hst` files for testing?

[2015-09-24 18:53] kenorb commented on #10
@aconz2  They're generated as in Makefile (`make test`), which doesn't work yet (#12), but check the commands in it (`dl_bt_dukascopy.py` to generate csv, then `convert_csv_to_mt.py` to generate `hst` files).

[2015-09-28 16:19] kenorb commented on #10
Fixed in #15

[2015-09-28 16:19] #10 closed

[2015-09-28 16:22] kenorb commented on #12
Pending PR: #15

[2015-09-29 13:31] kenorb commented on #12
Fixed in PR: #15

[2015-09-29 13:31] #12 closed

[2015-09-29 13:31] kenorb commented on #12
@d-a-t-a-d-i-t  Try now.

[2015-09-30 20:35] aconz2 commented on #6
The hard part will be figuring out the `dat` byte format. I've taken a brief look at the contents and I think I can figure out the header, but the rest is still a mystery. Can you give some general information on what should be inside? Ie. floats, ints, date and int pairs etc

[2015-09-30 21:24] kenorb commented on #6
@aconz2 @d-a-t-a-d-i-t had today look at this as well, mentioned something similar:

This should be similar to FXT format (see CSV into FXT conversion in `convert_csv_to_mt.py`, and opposite: `convert_mt_to_csv.py`).

So we expect probably something like:

    2014-01-01 22:00:00    1.37553    1.37553    1.37553    1.37553          1  2014-01-01 22:00:58  4
    2014-01-01 22:00:00    1.37553    1.

[2015-09-30 23:36] kenorb commented on #6
@aconz2 added some additional info which could be useful

[2015-10-01 00:17] aconz2 commented on #6
I reached a similar conclusion to @d-a-t-a-d-i-t
I've run MT4 in wine no problems and having a known CSV output will be very useful on a dataset input.
Autohotkey script could be a possibility but dealing with that would be a pain. I'm going to take a stab at figuring out DAT. Will raise the bounty.

[2015-10-01 09:44] kenorb commented on #6
@aconz2 This is what I've got from the source which I don't know if he wants to be published:

Could be helpful.

[2015-10-01 15:18] aconz2 commented on #6
:+1: I had a thought it might be "crypted" with xor, oldest trick in the book

[2015-10-05 10:27] kenorb commented on #6
@aconz2 How is going? Did it work, or there are some still issues?

[2015-10-05 15:43] aconz2 commented on #6
despite having tried every combination of lzo1* and xor then decompress/decompress then xor I haven't gotten it to work.

what would be most helpful is a single dat file and its corresponding csv. I've been unable to import/add a dat file directly into mt4, so I had to download a whole set of dat files and export the combined csv. maybe you have some insight on this?

[2015-10-05 16:00] kenorb commented on #6
@aconz2 You can install MT4 on your local, download single DAT file either manually (so in this case you can use single file) or via History Center, and after first run the platform should find the DAT file and convert into HST file (see some previous quotes above), then use `convert_mt_to_csv.py` script to convert it into CSV format.

[2015-10-05 16:03] kenorb commented on #6
@aconz2 But based on what you're saying, you already tried that?

[2015-10-05 16:12] kenorb commented on #6
@aconz2 You can also try hard way by running terminal with `WINEDEBUG=trace+all`, but I don't think it'll show which lzo1* compression is being used when you fetch the DAT files, unless you want to use `winedbg`. Not sure if this is what you want to try.

[2015-10-05 17:07] aconz2 commented on #6
Yea, I haven't gotten it to find the DAT file and convert it.
`WINEDEBUG` has given some helpful things to investigate, currently looking into this more. Though MT4 really doesn't like debuggers or traces

[2015-10-05 20:24] kenorb commented on #6
@aconz2: Please check the following links which could be helpful:

- [Are there any tools or scripts for identifying compression algorithms in executables?](http://reverseengineering.stackexchange.com/q/1463/12021)
- [Unknown compression algorithm](http://reverseengineering.stackexchange.com/q/6099/12021)
- [Unknown game data compression method](http://reverseengineering.stackexchange.com/q/6527/1

[2015-10-05 22:25] kenorb commented on #6
@aconz2

I did some few tests, maybe something would be useful from it:

1. After provisioning VM, I've run `wine terminal.exe` in /opt (I had some windows outside of screen, so I had to remove some values from: `config/terminal.ini `).
1. I've placed DAT file in `./history/FxPro.com-Demo04`, but it didn't work.
1. Deleted old dat and other files: `find . '(' -name "*.dat" -or -name "*.fxt" -or -n

[2015-10-06 09:57] kenorb commented on #6
@aconz2 Wrote simple [Python code](http://reverseengineering.stackexchange.com/a/11036/12021). Shouldn't `lzo1x` have some same repeated header if all files have the same key?

    for f in *.dat; { dd if=$f bs=1 status=none skip=$((0x88)) count=$((0x80)) | hexdump -C; }

[2015-10-06 12:42] aconz2 commented on #6
It should if something like `lzop` was being used, otherwise if its compressed using `lzo1x` as a library, then its not necessary. I wrote some tests in C to try decompressing with each `lzo`* (there are many) but none of them worked.

[2015-10-06 18:19] kenorb commented on #6
@aconz2 Can you try `liblzma`? Found the references in the memory dump.

1. Run terminal (start downloading some .dat files to load some context).
1. Take pid: `winedbg --command "info proc"`
1. Make a dump: `winedbg --minidump mt.mdmp $((0x3b))` (where 0x3b is your pid).
1. `strings mt.mdmp` or view the file (in vim search via: `/l.z.m.a`).

[2015-10-06 19:26] aconz2 commented on #6
Can you post that dump somewhere, having trouble recreating. Have another idea to try but will look at that in the meantime

[2015-10-06 19:52] kenorb commented on #6
@aconz2 Check e-mail.

[2015-10-31 02:21] mafagafogigante commented on #6
@kenorb Could you tell me anything about convert_dat.py? It is very poorly documented and I don't think I completely understand to what it supposedly converts .dat files to. Thanks.

[2015-10-31 19:49] kenorb commented on #6
@mafagafogigante So far it's uncompressing it from LZO into raw format. From there it needs to be converted (32bit Little-Endians such as dates, etc.) into CSV, which is not done.

[2015-10-31 21:26] abcht commented on #6
@kenorb I managed to extract exchange rates as follows:

[code]

Which obviously I can format as CSV later on. I'm wondering though, what data is supposed to be displayed in columns 3 to 8 in your sample data above?

[2015-10-31 22:21] abcht commented on #6
Ok I found what I need actually.

[2015-10-31 23:21] kenorb commented on #6
Btw. Be aware that what's left (to split) is actually half of the bounty, as the first one was result of `convert_dat.py`, but it wasn't finished yet, that's why the issue is still open.

[2015-11-07 22:18] kenorb commented on #6
@neosilky, @abcht Are you still working on that issue?

[2015-11-08 10:12] neosilky commented on #6
@kenorb I managed to modify scripts to download what we want + save them. I couldn't manage to convert the data though.

[2015-11-08 15:29] kenorb commented on #6
@neosilky Can you send PR with what you got so far? So @d-a-t-a-d-i-t can pick it up, then we can split the bounty.

[2015-11-10 23:28] kenorb opened #16 "We need requirements.txt with required pip packages."
Currently on Debian `./dl_bt_dukascopy.py --help` fails with:

We need to have `requirements.txt` with required pip packages which can be installed via `pip3` automatically.

This can be generated via:

    pip3 freeze | grep lzma > requirements.txt

Then installed via:

    pip3 -r requirements.txt

Tested, but it doesn't work as expected.

<bountysource-plugin>
---
Want to back this issue? **[Po

[2015-11-12 15:11] d-a-t-a-d-i-t commented on #16
On which Debian version have you tried it?

[2015-11-12 18:53] d-a-t-a-d-i-t commented on #16
Python LZMA backport was installed, `dl_bt_dukascopy.py` was updated, test was passed.

[2015-11-12 19:55] kenorb commented on #16
Fixed by installing https://github.com/peterjc/backports.lzma which is backport of lzma into Python 3.2, where it's normally available in 3.3.

[2015-11-12 19:55] #16 closed

[2015-11-14 17:25] kenorb opened #18 "Script to create fake backtest data."
We need CLI script `gen_bt_data.py` which would generate artificial backtest data.

Output format in CSV (as shown in [here](https://github.com/FX31337/FX-BT-Data-EURUSD-DS/blob/EURUSD-2014/EURUSD/2014/01/2014-01-01--22h_ticks.csv)).

Expected command-line parameters are:

- [x] `start_date end_date start_value end_value`, e.g. to generate data for 2 days:

        ./gen_bt_data.py 2014.01.01 2014

[2015-11-20 19:21] Andrej730 commented on #6
I've managed to extract timestamp intervals and some ratio (have no idea what it is) that have very similar value throughout any .dat file.
Maybe you can help me with it, check my fork - https://github.com/Andrej730/FX-BT-Scripts/

[2015-11-22 12:23] kenorb commented on #6
@Andrej730 I think the most difficulty in here was knowing how to decompress dat file (which was done), and 2nd part how the data is structured and stored. It's a bit pity that many people was working at the same time, and didn't register that are working on the solution.

@d-a-t-a-d-i-t sent some PR today where his solution seems to be more complete, as it deals with the data it-self, and reading

[2015-11-30 17:40] kenorb commented on #6
As per PR: #19

[2015-11-30 17:40] #6 closed

[2016-01-08 20:24] kenorb commented on #3
Still there is a problem:

    ./dl_bt_dukascopy.py -c -p AUDJPY -y 2007 -m 10
    Downloading http://www.dukascopy.com/datafeed/AUDJPY/2007/09/25/02h_ticks.bi5 into: download/dukascopy/AUDJPY/2007/10/2007-10-25--02h_ticks.bi5...
    File (download/dukascopy/AUDJPY/2007/10/2007-10-25--02h_ticks.bi5) exists, so skipping.
    Converting into CSV (download/dukascopy/AUDJPY/2007/10/2007-10-25--02h_tic

[2016-01-10 20:38] d-a-t-a-d-i-t commented on #3
As I experienced, the ideal lzma._BUFFER_SIZE value (which doesn't cause EOFError exception) varies from Python version to Python version, so it's different for e.g. Python 3.2.x and 3.4.x. The solutions could be:
1. try different values with different Python versions, or
2. create a fix/workaround in upstream Python code.

[2016-01-11 07:00] d-a-t-a-d-i-t commented on #3
or
3. call lzma decompressor externally from the script until LZMA API is fixed in Python.

[2016-01-11 11:35] #18 closed

[2016-01-12 01:34] kenorb opened #24 "convert_csv_to_mt.py to support multiple timeframes [$20]"
The `convert_csv_to_mt.py` script should support multiple timeframes specified from the command-line, e.g.

    convert_csv_to_mt.py -f fxt4 -t M1,M5,M15,M30,H1,H4,D1,W1,MN

which will generate different files as normally it would when running separately.

Example syntax:

    convert_csv_to_mt.py -v -i foo.csv -s EURUSD -p 20 -S default -t M5 -f hst4

Where csv files to test can be found in [here

[2016-01-16 23:22] kenorb opened #25 "convert_csv_to_mt.py: TypeError: 'NoneType' object is not subscriptable [$20]"
E.g. this one works fine:

    find . -name "*.csv" -print0 | sort -z | xargs -r0 cat | ./scripts/convert_csv_to_mt.py -i /dev/stdin -f hst4 -v -S default -s EURUSD -p 10 -t M1 -d foo

However sometimes conversion fails when using multiple streams with the following error:

    Traceback (most recent call last):
      File "./scripts/convert_csv_to_mt.py", line 417, in <module>
        FXT(CSV(arg

[2016-01-19 10:35] kenorb opened #26 "socket.error: [Errno 104] Connection reset by peer [$15]"
The following exception happened while downloading:

    Traceback (most recent call last):
      File "/usr/lib/python3.2/urllib/request.py", line 1542, in open
        return getattr(self, name)(url)
      File "/usr/lib/python3.2/urllib/request.py", line 1720, in open_http
        return self._open_generic_http(http.client.HTTPConnection, url, data)
      File "/usr/lib/python3.2/urllib/request

[2016-02-19 22:34] kenorb opened #28 "convert_csv_to_mt.py: Add option to include real spread."
If `--spread` is zero, try to calculate real spread as per logic in [`CSV2FXT.mq4`](https://github.com/FX31337/Birt-CSV2FXT/blob/master/MT4/MQL4/Scripts/CSV2FXT.mq4)

[2016-02-19 22:45] kenorb opened #29 "convert_csv_to_mt.py: Wrong Ask&Bid price in FXT file."
It seems open/low/high/close values are incorrect for [FXT files](https://github.com/FX31337/FX-BT-Data-EURUSD-DS/releases/tag/2014) (see [header info](http://www.metatrader4.com/en/trading-platform/help/autotrading/tester/tester_fxt)) as below:

    $ convert_mt_to_csv.py -i EURUSD1_0.fxt -f fxt4 -v
    [INFO] Trying to read data from EURUSD1_0.fxt...
    2014-01-01 22:00:00    1.37553    1.37553

[2016-02-20 23:56] kenorb commented on #29
Implemented [setting spread in FXT files](https://github.com/EA31337/FX-MT-VM/commit/b90b5ff6cc718bfea6a5d8564a4e78e05c65e0e2) per each test, but I don't think it fixes the problem completely, so it needs more investigation how we can fix it.

[2016-02-21 12:58] kenorb opened #30 "dl_bt_dukascopy.py: Support for downloading commodities and stocks. [$20]"
Currently it's downloading like:

    http://www.dukascopy.com/datafeed/E_YHOO/2012/02/04/22h_ticks.bi5

which does not exist. So the logic needs to be improved after this change: 8731410af4c78977afe00ce08628b82741bec086

Example run:

    ./dl_bt_dukascopy -p E_YHOO

Check `dev` branch for the right commodities and stocks mapping.

This shouldn't break existing downloading of currency pairs.

Che

[2016-02-21 13:04] kenorb opened #32 "dl_bt_dukascopy.py: Add -d for downloading period of specific days. [$20]"
Add `-d` for downloading specific days (similar as for `-m`).
Ideally if number can be separated either by commas, or as range (e.g. `2-5`).

File: `dl_bt_dukascopy.py`

<bountysource-plugin>
---
There is a **[$20 open bounty](https://www.bountysource.com/issues/31083726-dl_bt_dukascopy-py-add-d-for-downloading-period-of-specific-days?utm_campaign=plugin&utm_content=tracker%2F20487492&utm_medium=i

[2016-02-21 20:14] kenorb opened #33 "Write Python script to read symbols.sel file. [$50]"
Write a new script in Python 3 which will print the values from `symbols.sel` to the output.

Then print the known values to the output such as:

- symbol
- digits
- index
- group
- pointSize
- spread
- tickType
- time
- bid
- ask
- sessionHigh
- sessionLow
- bid_2
- ask_2
- etc.

Can be in any output format, but format of fields should match its type (ask/bid should print float and time should pr

[2016-02-21 21:07] kenorb opened #34 "convert_csv_to_mt.py: Missing `end_of_test` before `freeze_level`."
This is what is in script:

        header += pack('<d', 1.25)                                                      # MarginDivider
        header += bytearray('EUR'.ljust(12, '\x00'), 'latin1', 'ignore')                # MarginCurrency
        header += bytearray(4)                                                          # 4 Bytes of padding
        # Commission calculation
        header += pac

[2016-02-24 20:08] kenorb commented on #34
I think it's fine now. Added extra integer for generating errors. a510b1a168e20252199f9c02e630007bd9a2727f

[2016-02-24 20:08] #34 closed

[2016-02-24 21:50] kenorb commented on #3
PR: #35

[2016-03-12 23:39] emmzett commented on #33
Hi. Let me provide a little contribution:
[SYMBOL_SELECTED.h.txt](https://github.com/FX31337/FX-BT-Scripts/files/170678/SYMBOL_SELECTED.h.txt)

[2016-03-14 20:32] kenorb commented on #33
@emmzett Thank you, that's very useful. Do you have similar .h file for .raw format? If that's ok, I could include that in [MT-formats](https://github.com/EA31337/MT-formats) repo where I keep track different formats of MT, so we can write some Python scripts reading such formats.

[2016-03-15 18:07] emmzett commented on #33
Yes, here are some more. All done by me and help of Birt.
[SYMBOL_GROUP.h.txt](https://github.com/FX31337/FX-BT-Scripts/files/174525/SYMBOL_GROUP.h.txt)
[SYMBOL.h.txt](https://github.com/FX31337/FX-BT-Scripts/files/174527/SYMBOL.h.txt)
[FXT_HEADER_405.h.txt](https://github.com/FX31337/FX-BT-Scripts/files/174528/FXT_HEADER_405.h.txt)

[2016-03-15 18:45] emmzett commented on #33
If you want to work with your own tick files you can
(a) use Birt's suite with a current build to patch the process at runtime (not free) or
(b) use an old build and patch it with Birt's patch script (free).

In both cases and assumed the terminal is disconnected you only need the symbols.sel file for profit conversion to the account currency. Otherwise only symbols.raw is needed.
Example: If I te

[2016-03-15 22:25] emmzett commented on #33
@kenorb Had a look at the tick format.
[TICK.h.txt](https://github.com/FX31337/FX-BT-Scripts/files/174924/TICK.h.txt)
all the best

[2016-03-16 21:47] kenorb commented on #33
@emmzett Thank you for the header files. I don't have problems with read-only files, it [works fine](EA31337/EA31337-Lite-Sets), the only problem which I am having that the platform reports spread 20, but in real it's 0 (Ask & Bid prices are exactly the same). The same happens when converting with Birt's scripts. However the real spread (Ask & Bid prices are different) applies only when the files

[2016-03-26 04:13] kenorb opened #37 "convert_csv_to_mt.py takes ages to convert the data [$50]"
Currently conversion of CSV data from only one year (800M) into tick data format takes around 1 hour to complete (for all timeframes).

This makes fails for CI builds, because timeout of 30 minutes being reached in order to convert the data from [here](https://github.com/FX31337/FX-BT-Data-EURUSD-DS/tree/EURUSD-2015). [This one](https://travis-ci.org/FX31337/FX-BT-Data-EURUSD-DS/builds/118761747)

[2016-03-26 14:55] kenorb commented on #26
Fixed in #39

[2016-03-26 14:55] #26 closed

[2016-03-26 16:06] kenorb commented on #33
Fixed in PR #38

[2016-03-26 16:06] #33 closed

[2016-03-26 16:51] #24 closed

[2016-03-26 17:30] kenorb opened #41 "Write Python script to read symbols.raw file. [$40]"
Write a new script in Python 3 which will print the values from `symbols.raw` to the output (similar to `read_symbols_sel.py`).

Can be in any output format, but format of fields should match its type (ask/bid should print float, time should print time, etc).

Related: #33

Format: [`symbols.raw.h`](https://github.com/EA31337/MT-Formats/blob/master/symbols.raw.h).

Sample files: [symbols.raw-sampl

[2016-03-26 17:32] kenorb commented on #41
/cc @LemonBoy

[2016-03-26 17:35] LemonBoy commented on #41
Would you mind if I rename `read_symbols_rel` to `read_symbols` and have it handle both the `rel` and the `raw` format so that most of the code can be shared ?

[2016-03-26 17:37] kenorb opened #42 "Write script to read symgroups.raw file. [$30]"
Write a new script in Python 3 which will print the values from `symgroups.raw` file to the output (similar to other `read_symbols_x` scripts).

Can be in any output format, but format of fields should match its type (ask/bid should print float, time should print time, etc).

Related: #33, #41

Format reference: [`symgroups.raw.h`](https://github.com/EA31337/MT-Formats/blob/master/symgroups.raw.h)

[2016-03-26 17:43] kenorb commented on #41
@LemonBoy Yes, you can. One script dealing with all symbol formats would be great.

[2016-03-26 17:43] kenorb commented on #42
/cc @LemonBoy

[2016-03-26 17:48] kenorb opened #43 "Write script to read ticks.raw file. [$30]"
Write a new script in Python 3 (e.g. `read_ticks`?) which will print the values from `ticks.raw` file to the output (similar to other `read_symbols_x` scripts).

Can be in any output format, but format of fields should match its type (ask/bid should print float, time should print time, etc).

Related: #33, #41, #42, #43

Format reference: [`ticks.raw.h`](https://github.com/EA31337/MT-Formats/blob/

[2016-03-26 17:54] kenorb commented on #43
/cc @LemonBoy

[2016-03-27 00:59] kenorb opened #44 "Add a progress bar for convert_csv_to_mt.py during conversion [$20]"
When running the script in CI for big files, if fails the build because there is no output for at least 10 minutes. See this [build](https://travis-ci.org/FX31337/FX-BT-Data-EURUSD-DS/builds/118742338).

The script should have some simple progress bar. [Here](http://stackoverflow.com/q/3160699/55075) are some suggestions, but it could be anything easy to implement (less external dependencies, than

[2016-03-27 01:05] kenorb commented on #44
/cc @LemonBoy

[2016-03-27 02:48] kenorb commented on #37
/cc @LemonBoy

[2016-03-27 03:32] kenorb opened #45 "UnboundLocalError: local variable 'uniBar' referenced before assignment [$15]"
File: `convert_csv_to_mt.py`

This [build](https://travis-ci.org/EA31337/FX-MT-VM/jobs/118724416) shows the error:

[code]

This could be related to the recent changes.

<bountysource-plugin>
---
There is a **[$15 open bounty](https://www.bountysource.com/issues/32293012-unboundlocalerror-local-variable-unibar-referenced-before-assignment?utm_campaign=plugin&utm_content=tracker%2F20487492&utm_medi

[2016-03-27 03:32] kenorb commented on #45
/cc @LemonBoy

[2016-03-28 18:05] LemonBoy commented on #45
Nope, both in [1] and [2] you've introduced the same error probably after copy-pasting that section of code over. I don't know the format exactly but if it's a paste mishap I think the last line should just be deleted.

[1] https://github.com/FX31337/FX-BT-Scripts/blob/master/convert_csv_to_mt.py#L157,L162
[2] https://github.com/FX31337/FX-BT-Scripts/blob/master/convert_csv_to_mt.py#L198,L203

[2016-03-29 00:05] kenorb commented on #45
This [build](https://travis-ci.org/EA31337/FX-MT-VM/jobs/119034504) fails now with:

	Traceback (most recent call last):
	  File "/home/travis/.wine/drive_c/Program Files (x86)/MetaTrader 4/history/downloads/scripts/convert_csv_to_mt.py", line 416, in <module>
	    FXT(CSV(args.inputFile), outputPath, timeframe, server, symbol, spread)
	  File "/home/travis/.wine/drive_c/Program Files (x86)/MetaTr

[2016-03-29 06:21] LemonBoy commented on #45
The error is similar to the one fixed in the commit but completely different :)
As you can see in [1] it's possible that `firstUniBar` isn't ever initialized if there are no ticks, and this happens due to #25

[1] https://github.com/FX31337/FX-BT-Scripts/blob/master/convert_csv_to_mt.py#L230,L244

[2016-03-29 07:23] Kostafun commented on #37
LemonBoy sorry I did not see in Bountysource that you are already working on a solution. Mine solve it from different angle, we can combine both, after some research I see I should rewrite mine to use numpy.memmap instead of in memory list - as with my current solution it may raise out of memory errors on extra large input files or low memory systems.

[2016-03-29 07:32] LemonBoy commented on #37
One of the conversion routines collapses the whole set of csv files into a single one, I doubt it's a wise idea to abuse the memory so much (also, Travis might not like that memory usage :).
The profiler shows that the hottest points are the place where the string is split and the timestamp parsing, the latter has been optimized as much as I could and the former is quite optimized by itself.
A two

[2016-03-29 08:37] Kostafun commented on #37
Would be best to combine our solutions - your optimization of timestamp parsing and mine parsing timestamp only once (not once per timeframe like before) . I also wonder about memory usage, it may become a problem only with even larger input files. Best would be to parse input file once and store parsed results in  numpy.memmap temporary file . I will finish this solution tomorrow.

[2016-03-29 09:18] #45 closed

[2016-03-29 09:29] kenorb commented on #41
Works great. Do you know if it's easy enough to print strings without special characters? E.g. when I pipe the output to `less`, I've got like:

	name = EURUSD^@^@^@^@^@^@
	description = Euro vs US Dollar^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@
	altName = ^@^@^@^@^@^@^@^@^@^@^@^@
	baseCurrency = EUR^@^@^@^@^@^@^@^@^@
	group = 0
	digits = 4

[2016-03-29 09:34] LemonBoy commented on #41
Good catch, updated :)

[2016-03-29 10:01] kenorb commented on #42
I've this:

	name =
	description = ^@utures
	backgroundColor = 0

	name =
	description = ^@ICEX
	backgroundColor = 0

	name =
	description = ^@TS
	backgroundColor = 0

	name =
	description = ^@PBEX
	backgroundColor = 0

	name =
	description = ^@ong Kong Stock Exchange
	backgroundColor = 0

So looks like it's cut off and name is most of the time empty (if that's correct, that's fine).

Also it's po

[2016-03-29 10:01] #43 closed

[2016-03-29 10:03] kenorb commented on #41
Also in one of the altName:

	name = _SP500
	description =
	altName = ^@SP500
	baseCurrency = _SP

[2016-03-29 10:07] LemonBoy commented on #42
Can't do much wrt the leading NULs, the entry's encoded that way into the file...
And I have no problem with `less`, can't say what's wrong there

[2016-03-29 10:17] LemonBoy commented on #41
Hmm, don't think so, the records line up perfectly. Maybe it's a way the program uses to encode some particular records (erased records ?)

[2016-03-29 10:23] kenorb commented on #37
@LemonBoy I think something got broken as I've 3 minutes and the data isn't right (too small).

	test/FX-BT-Data-EURUSD-DS $ time make
	+ which gxargs xargs
	+ head -n1
	+ find EURUSD -maxdepth 0
	+ cd EURUSD
	+ find 2014 -type d -maxdepth 0
	+ du -sb EURUSD
	+ cut -f1
	convert_csv_to_mt.py -v -i all.csv -s EURUSD -p 20 -S default -t M1,M5,M15,M30,H1,H4,D1,W1,MN -f hst4
	+ convert_csv_to_mt.py -v

[2016-03-29 11:26] kenorb commented on #25
Actually this is happening currently in `master`. See: [#119215322](https://travis-ci.org/FX31337/FX-BT-Scripts/builds/119215322)

[2016-03-29 15:09] #41 closed

[2016-03-29 16:24] kenorb commented on #37
Tested PR #51, full conversion from 3h dropped to 45 minutes. I'll do some further testing on CI after merge.

[2016-03-29 16:31] LemonBoy commented on #42
This can no be closed, doesn't it ?

[2016-03-29 16:35] kenorb commented on #42
Fixed in #46

[2016-03-29 16:35] #42 closed

[2016-03-29 16:54] kenorb commented on #37
@Kostafun [CI build fails](https://travis-ci.org/FX31337/FX-BT-Data-EURUSD-DS/builds/118761747) on conversion of full year of data with:

[2016-03-29 21:30] #44 closed

[2016-03-30 01:38] kenorb commented on #25
Update: Now it's not reproducible on `master`, so I'm not sure.

[2016-03-30 01:39] #25 closed

[2016-03-30 02:33] kenorb opened #56 "Complete dl_bt_metaquotes.py script. [$100]"
Complete `dl_bt_metaquotes.py` script which downloads DAT files (undocumented format) and converts them into plain CSV format. The converted data should be consistent, currently it's not.

It converts some of the data, but it still has some problems with unknown blocks.

Check for [comments and TODOs](https://github.com/FX31337/FX-BT-Scripts/blob/master/dl_bt_metaquotes.py) for further info.

Plea

[2016-03-30 20:37] kenorb commented on #37
PR #57 introduced different method to prevent out-of-memory issue on CI, having the same timing when comparing reading the file from the memory.

Tested process on OS X for both conversion methods as described in the ticket, the completion time was 56 minutes instead of over 3h, giving 3x speed up.

Since 50 minutes still [wasn't enough](https://travis-ci.org/FX31337/FX-BT-Data-EURUSD-DS/builds/11

[2016-03-30 20:37] #37 closed

[2016-03-30 21:14] LemonBoy commented on #37
The PR #57 reverts the changes introduced by @Kostafun (and it leaves out some print statements since I was lazy, as you can notice from the commit message) and is a simple rebase of the original changeset I proposed.
It uses mmap to read the file in memory to leave some part of the work to the OS, but that's just a marginal speedup, the real one is in the optimized timestamp parser and the more c

[2016-03-30 22:26] kenorb commented on #37
@LemonBoy For extra $40, can you try to shuffling some more code, please? So ideally both conversions (hst & fxt) are achieved in less than 50min?

[2016-03-31 08:00] LemonBoy commented on #25
The new code that reads the csv can't read from stdin anymore (due to the use of `mmap`), hence `readline` doesn't fail anymore and the error is now gone :)

[2016-03-31 09:24] kenorb commented on #25
Ok, I don't know if we would need stdin, it would be useful to have syntax like:

    cat something | convert_csv_to_mt.py -i -

or:

    convert_csv_to_mt.py -i <(cat -)

Let me know if that's achievable.
You can claim the bounty for this one as well.

[2016-03-31 10:09] kenorb opened #59 "convert_csv_to_mt.py: Further performance improvements for conversion. [$40]"
Follow-up to #37

It might be possible to shave some more time by shuffling some code around though.

<bountysource-plugin>
---
There is a **[$40 open bounty](https://www.bountysource.com/issues/32438471-convert_csv_to_mt-py-further-performance-improvements-for-conversion?utm_campaign=plugin&utm_content=tracker%2F20487492&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [

[2016-03-31 10:10] #59 closed

[2016-03-31 11:05] LemonBoy commented on #25
It sure can be done by using sys.stdin which should be unbuffered, but You'd lose a chunk of the improved speed

[2016-03-31 12:22] kenorb commented on #59
Seems to work.

Old [build](https://travis-ci.org/FX31337/FX-BT-Data-EURUSD-DS/builds/119672217):

HST: 27 min
FXT: 40 min

New [build](https://travis-ci.org/FX31337/FX-BT-Data-EURUSD-DS/builds/119765707):

HST: 10 min
FXT:  21 min

[2016-03-31 12:27] #32 closed

[2016-03-31 12:31] kenorb commented on #37
@Kostafun Would you like to receive partial bounty for your work? However I'm not sure how the spiting works with bountysource.

[2016-05-11 01:07] kenorb opened #61 "Script to read accounts.ini binary data."
1. Install [MT4](http://www.metatrader4.com/en/download).
2. Run and open folder from menu _File_ -> _Open Data Folder_.
3. Go to `config/` folder, you should have `accounts.ini` file created.

It changes on configuration changes related to accounts (e.g. _File_ -> _Login to Trade Account_) or when you create a demo account (_File_ -> _Open an Account_). It remembers the account number.

Examples:

[2016-05-11 01:20] kenorb opened #62 "Script to read server.ini binary data."
Examples: [server-files.zip](https://github.com/FX31337/FX-BT-Scripts/files/258388/server-files.zip)

The file should be in plain text format.

See: #61

[2016-05-18 22:34] kenorb opened #63 "convert_csv_to_mt: Higher timeframes aren't correct."
Converting CSV into FXT doesn't seems to be valid for higher timeframes.

It seems all files are in the same size, e.g. see files for [2015](https://github.com/FX31337/FX-BT-Data-EURUSD-DS/releases/tag/2015).

For example the highest timeframe file `EURUSD43200_0.fxt.gz` has 118MB, but it should be much lower. This was working previously (probably in 5bbf6e1).

See build: [#120782122](https://trav

[2016-05-23 22:53] kenorb commented on #3
Possible workaround: http://stackoverflow.com/a/37400585/55075

[2016-05-23 23:10] kenorb commented on #29
This works when FXT files aren't read-only, then the spread works correctly.

[2016-05-23 23:10] #29 closed

[2016-05-29 14:56] kenorb opened #64 "Script to read srv format."
Extend [`read_mt_formats.py`](https://github.com/FX31337/FX-BT-Scripts/blob/master/read_mt_formats.py) to read srv format.

Samples: [srv-files.zip](https://github.com/FX31337/FX-BT-Scripts/files/288393/srv-files.zip)

Suggested command to compare two binary files:

[code]

Est. 4-8h
##

[2016-05-29 16:24] kenorb opened #65 "Error: Expected lot step for 5 digits: 0.01, found: 0.1"
Reproducible steps:

1. Clone [EA31337-Lite-Sets](https://github.com/EA31337/EA31337-Lite-Sets)
1. Run:

        ./_scripts/run_test.sh Bands5_OpenMethod -m1 -I Server=FXCM-GBPDemo01,Login=81836040,Password=7172

The error says:

It sometimes works, depending on the installation of the platform.

[2016-05-30 21:25] kenorb commented on #33
@emmzett By any change, do you have any header format or some guesses for .srv format (server configuration files)?

[2016-05-30 22:14] emmzett commented on #33
This is getting more difficult. Without reverse engineering you can only change the 1st ip address and port. A file can hold multiple entries, only the first one is in plain text. I use such a customized .srv file for my synthetic instruments.

The encrypted .ini-files and the .srv-files need to be decrypted but it's not easy. You need a good C++ developer for this. I never did it but I know the w

[2016-05-30 22:58] kenorb commented on #33
@emmzett Thanks for advise, really useful.

I've main 2 issues when testing with MT4: with lot step and spread values, these are very not stable and you never know how the test is going to be like.

Basically I'm expecting Lot step to be [0.1 for 4 digits](https://travis-ci.org/EA31337/FX-MT-VM/jobs/134022151#L3589), and [0.01 for 5 digits](https://travis-ci.org/EA31337/FX-MT-VM/jobs/134014765#L35

[2016-05-30 23:33] emmzett commented on #33
Ah, now I understand what you meant last time. Yes, I agree. This setup is not stable. I follow a different approach. For testing I use another installation where I don't have any issues with different data coming from different connected brokers. I test always disconnected. The test installation is running on the same history folder as the online installation, this way price data is always up-to-

[2016-05-30 23:35] emmzett commented on #33
The last file reference needs to be corrected: "... as the current spread in symbols.raw (bid = ask)..."

[2016-05-30 23:52] kenorb commented on #33
Re build 225, could you poke me on Skype by any chance (bronek_skype)? So I could probably drop you a line tomorrow. We could exchange few files, I can offer MQL CLI compiler which was removed recently from the site. And I may have an idea how to read srv.

[2016-06-10 01:11] kenorb opened #66 "Script to read mqlcache.dat"
1. Install [MT4](http://www.metatrader4.com/en/download).
2. Run and open folder from menu _File_ -> _Open Data Folder_.

You should have the following files created:

[code]

Extend `read_mt_formats.py` to read these files.

[2016-06-13 13:15] kenorb commented on #30
Fixed in PR #67

[2016-06-13 13:15] #30 closed

[2016-06-23 10:13] kenorb opened #68 "socket.error: [Errno 110] Connection timed out"
We should catch the error and re-try the download (e.g. 5 times).

Error:

[code]

Est. 1-2h

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35421505-socket-error-errno-110-connection-timed-out?utm_campaign=plugin&utm_content=tracker%2F20487492&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.b

[2016-06-23 21:14] lu43n commented on #68
Done in #69

Time: 1h

[2016-07-03 21:18] kenorb opened #70 "convert_csv_to_mt: unmatched data error (volume limit exceeded)"
When backtesting using higher timeframes, the following errors appear in the terminal log files:

[code]

CI fails: [#142088830](https://travis-ci.org/EA31337/FX-MT-VM/jobs/142088830#L2836), [#142088831](https://travis-ci.org/EA31337/FX-MT-VM/jobs/142088831#L2917), [#142088832](https://travis-ci.org/EA31337/FX-MT-VM/jobs/142088832#L2903)

Testing:

1. Clone repo.
1. Clone/download some [CSV files]

[2016-07-06 16:06] #68 closed

[2016-08-03 20:47] kenorb commented on #70
Fixed in 87f0063f04ff3ab21a98db13058950b77a56061e

[2016-08-03 20:47] #70 closed

[2016-08-04 14:38] kenorb opened #71 "TestGenerator: unmatched data error, low value is not reached from the least timeframe [$80]"
Error happening during backtesting:

M5:
[code]

M15:

[code]

M30
[code]

Tested data from [2015](https://github.com/FX31337/FX-BT-Data-EURUSD-DS/releases/tag/2015).

--

Testing (using [VM](https://github.com/EA31337/FX-MT-VM)):

1. Close VM repo.
1. Optionally provision VM by: `vagrant up && vagrant ssh` (or use local Linux/OSX shell)
1. Run the test using M30 period, e.g. from the command line

[2016-08-09 08:26] nseam commented on #71
Finally replicated. yuppii

[2016-08-12 21:06] kenorb opened #73 "Fix CI timeout issue"
Last working build: [#147346802](https://travis-ci.org/FX31337/FX-BT-Scripts/builds/147346802)
Last failed build: [#151923036](https://travis-ci.org/FX31337/FX-BT-Scripts/builds/151923036) after PR #72

Please fix CI tests, so fixes from #72 & #71 still work.

CI script: [Makefile](https://github.com/FX31337/FX-BT-Scripts/blob/master/Makefile)

Est. 1-3h

<bountysource-plugin>
---
Want to back thi

[2016-08-14 22:26] kenorb opened #74 "Support for XAUUSD"
[code]

[2016-08-26 21:32] kenorb commented on #73
codemill$30

[2016-08-27 14:05] kenorb commented on #71
Fixed in #72 & #75

[2016-08-27 14:05] #71 closed

[2016-08-27 14:25] #73 closed

[2016-09-26 22:57] kenorb opened #77 "Python script to read HCC files"
Extend `read_mt_formats.py` and `convert_mt_to_csv.py` scripts (both) to read HCC files containing historical data (similar as it does for other formats).

The structure of this format is explained [here](https://reverseengineering.stackexchange.com/questions/8003/need-ideas-to-reverse-engineer-this-hcc-file-format) (note: this info could be a bit out of date).

Then after running the script (`rea

[2016-09-26 23:04] kenorb commented on #77
codemill$50

[2016-09-26 23:11] kenorb commented on #77
codemill$80

[2016-10-01 14:16] kenorb commented on #77
codemill$160

[2016-10-11 16:52] kenorb opened #79 "TimeoutError: [Errno 60] Operation timed out"
Test:

    ./dl_bt_dukascopy.py -v -c -D . -p EURUSD -y 2007,2008,2009,2010,2011

When the connection is slow, this error can happen:

[code]

Please fix the exception handler, so the download can be re-tried, instead of throwing the error.

codemill$20

[2016-10-11 19:12] #79 closed

[2016-10-11 22:57] kenorb commented on #77
codemill$180

[2016-10-11 23:15] #77 closed

[2016-10-12 15:16] kenorb opened #81 "Script to convert CSV into HCC"
Expand `convert_csv_to_mt.py` script to convert CSV input files into HCC (as implemented as part of GH-77). So `-f` parameter should accept the new `hcc` format (similar as it works for other hst/fxt formats).

codemill$120

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38439798-script-to-convert-csv-into-hcc?utm_campaign=plugin&utm

[2016-10-12 15:17] kenorb commented on #77
@LemonBoy See: #81

[2016-10-17 15:43] kenorb commented on #77
@RobinsonKameron Please don't start the task, since it's already done. Somehow this task appeared as _Open_, so I've reported [a bug here](https://github.com/CodeMillApp/support/issues/26).

[2016-10-17 15:44] RobinsonKameron commented on #77
Yeah I keep getting emails weird.

[2016-10-17 16:11] kenorb commented on #81
@paulohrpinheiro Let me know if you've any questions and you're happy to work on the issue.

[2016-10-17 16:21] paulohrpinheiro commented on #81
Hello, Rafal.

The script is already generating the file, I am now finishing the
writing of the headers (with the offset of the data and the number of
lines). I also started writing some tests with unittest. For this I had
to move some parts of the script to functions, so must also check that
did not cause side effects in the other options. Checking all this, I
send the PR to you test too. I hope

[2016-10-18 20:17] #81 closed

[2016-11-20 14:18] kenorb opened #83 "Python script to add/modify values in symbols.raw"
Write a script in Python 3, similar to `read_mt_formats.py` which instead of reading, it's modifying existing values, adds new records, or removes.
Suggested script filename: `modify_mt_format.py` (or similar)

The format is already defined in `SymbolsRaw` class in `bstruct_defs.py` which can be reused.

The feature should include:
- adding new symbol group into file based on the given name and th

[2016-11-20 14:57] kenorb commented on #83
codemill$80

[2016-11-20 15:00] kenorb commented on #77
New similar task: http://codemill.io/task/5831b9cb3b6a6c0004c4ae5e

[2016-11-20 17:48] kenorb commented on #83
Fixed in #84

[2016-11-23 00:03] #83 closed

[2016-12-12 18:09] kenorb opened #85 "Mismatch in OLHC data when converting from CSV to HST"
1. Clone this repo.
1. Download CSV file into the repo folder, e.g.

        wget https://raw.githubusercontent.com/FX31337/FX-BT-Data-EURUSD-DS/EURUSD-2014/EURUSD/2014/01/2014-01-01--23h_ticks.csv

1. Convert CSV file into HST format:

        ./convert_csv_to_mt.py -v -i 2014-01-01--22h_ticks.csv -f hst4 -t M1,M5,M15,M30,H1,H4,D1,W1,MN

1. Verify data by `convert_mt_to_csv.py`, e.g.:

        $

[2016-12-12 18:51] #85 closed

[2016-12-13 12:49] kenorb opened #86 "TestGenerator: unmatched data error (low value X at Y is not reached from the least timeframe, low price Z mismatches)"
After fixing #85, this error start happening at M15 timeframe when backtesting:

    TestGenerator: unmatched data error (low value 1.08294 at 2015.07.20 09:15 is not reached from the least timeframe, low price 1.08391 mismatches)

Example run:

    /vagrant/scripts/run_backtest.sh -o -v -t -x -I TestPeriod=M30,TestModel=1 -e MACD -d 10000 -s 40 -y 2014-2015 -D5 -b DS -M 4.0.0.1010

See also:
- [G

[2016-12-13 21:08] kenorb commented on #86
codemill$66

[2016-12-14 21:55] kenorb opened #87 "convert_csv_to_mt: support for control points format"
E.g. EURUSD30_1.fxt

[2016-12-14 23:04] kenorb opened #88 "FXT format consist ending zero closing prices (Python)"
In platform, this can be tested by running terminal.exe, then from menu select _File_ -> _Open Offline_, and select the file (hover on the item to see the file path). The FXT file needs to be copied to _tester/history_ folder of the platform to be visible (e.g. `~/.wine/drive_c/Program Files/MetaTrader 4/`). Once open, you should see this window (zoom out or resize window to catch the zero value):

[2016-12-14 23:26] kenorb commented on #88
Needs reproducing steps.

[2016-12-15 15:57] paulohrpinheiro commented on #86
I'm very sorry, and I want to apologize, but I'm not able to create the environment to run the tests. I would take a long time to get set up, and a whole day is gone, so I'm giving up the task. Once again, I'm sorry, thank you.

[2016-12-15 20:56] kenorb commented on #86
@paulohrpinheiro I'm sorry about it. If you're still interested, I can give you the access to the remote Linux where the issue can be reproduced. Or this can be tested using Travis CI.

[2016-12-19 00:37] kenorb commented on #86
codemill$88

[2016-12-23 00:29] kenorb opened #89 "Add model generation for Control points and Open prices"
Extend `convert_csv_to_mt.py` script to have 3 modes of FXT conversion:

- `-m 0`: Every tick (the most precise method) - this is how it works by default now,
- `-m 1`: Control points (the nearest less timeframe, 1 minute OHLC),

  [![](https://c.mql5.com/2/16/eurusd_h1_control_points.gif)](https://www.mql5.com/en/articles/1511)

- `-m 2`:  Open prices only

  [![](https://c.mql5.com/2/16/eurusd_h

[2016-12-23 00:48] kenorb commented on #89
I'll provide tomorrow example FXT data (0 vs 1 vs 2) if that helps.

[2016-12-23 00:50] kenorb commented on #89
codemill$110

[2016-12-29 21:27] kenorb opened #90 "Support for all non-standard timeframes"
Currently the conversion script is supporting only limited number of timeframes:

    timeframe_conv = {
            'm1': 1, 'm5':  5, 'm15': 15, 'm30':  30,
            'h1':60, 'h4':240, 'd1':1440, 'w1':10080, 'mn':43200
    }

Convert the logic, so number of minutes are automatically calculated based on the given timeframe (`-t`), e.g.

- M2, M5, M6
- H1, H2, H3
- D1, D2
- W1, W2
- MN1, MN2

S

[2016-12-29 21:29] kenorb commented on #90
codemill$33

[2017-01-01 13:52] #90 closed

[2017-01-04 13:57] kenorb commented on #89
codemill$110

[2018-05-23 20:26] ryu0 commented on #64
Does this also still need to be resolved?

[2018-05-23 20:33] kenorb commented on #64
Yes, please.

[2018-05-23 20:36] kenorb commented on #64
If you got issues, the bounty can be increased.

[2018-05-23 20:37] ryu0 commented on #64
Do you know of some kind of reference material for this SRV file format? It appears to be a "server file" for some kind of software called Metatrader, but I am unable to find any information so far about how this data file is serialized.

[2018-05-23 20:37] kenorb commented on #64
It's rather not documented, I'll try to answer that after 1h

[2018-05-23 20:40] ryu0 commented on #64
I see, so it sounds like this will require some detective work.

[2018-05-23 21:32] ryu0 commented on #64
I don't expect that first part to be very hard, but the second part is another story. Do you have any idea what data is stored in these files beyond the obvious text fields?

[2018-05-24 00:18] kenorb commented on #64
These files consist of broker-specific data. Each broker got its unique default settings. I'm mainly interested in _Lot step_ or _Lot size_ (float value, such as 0.01) and modifying it, as I believe these values are hardcoded in these files, otherwise, my tests using [FX-MT-VM project fails](https://github.com/EA31337/FX-MT-VM/issues/61) (using [TestLotstep test file](https://github.com/EA31337/FX

[2018-05-24 02:07] ryu0 commented on #64
Strange. There's a variable number of bytes between the end of the company name string and the start of the server address string. I'm not sure why this is.

[2018-05-24 07:53] ryu0 commented on #64
I think I have finished the last of the obvious binary chunks, which all happen to be fixed sized text strings. As for the rest of the binary data, I tried using a hex viewer that could interpret the remaining bytes as various data types, but I was unable to find anything further about their intent or purpose. I could not find any floats or doubles that had a value resembling this "lot step" you m

[2018-05-24 23:28] kenorb commented on #64
Fixed in #93.

[2018-05-24 23:28] #64 closed

[2018-05-24 23:39] kenorb commented on #64
@ryu0 Let me know if you're interested in doing [this one](https://github.com/EA31337/FX-MT-VM/issues/113).

[2018-06-07 11:20] ryu0 commented on #89
What's the state of this? Also, I can't seem to find anything about the bounty for this task.

[2018-06-07 11:32] kenorb commented on #89
Codemill service was used for the bounty, but I think they are out-of-service now.

I'll re-post the bounty via bountysource.

[2018-06-07 11:34] kenorb commented on #89
@ryu0 Re-posted.

[2018-06-07 11:36] ryu0 commented on #89
Thanks. I'll take a look at the materials later today.

[2018-06-07 11:40] kenorb commented on #89
Basically, it should work the same as the MT4 platform does it by default when backtesting. It's got its own built-in converter, so we can compare the result data.

[2018-10-10 19:21] ryu0 commented on #89
Hello again. I have been going through the data to understand how to solve this issue, but I have some questions.

First, what exactly is a price bar? From what I can see, it appears to be a collection of ticks for a given timeframe. The examples you provided appear to just take all the available ticks and group them within every 1, 5, or 30 minute timeframes that occur in the input ticks.

Second

[2018-10-11 11:47] kenorb commented on #89
- Price bar is a combination of OHLC values (open-high-low-close) for the given timeframe (e.g. 1 minute).
- There are some samples provided in the description.
- Real conversion can be seen when using MT4 platform. You copy [`EURUSD1_0.fxt`](https://github.com/FX-Data/FX-Data-EURUSD-DS/releases/tag/2017) into the platform (or generate a small one using the scripts from CSV to FXT), select _Contro

[2018-10-11 11:49] kenorb commented on #89
That mean every tick in CSV is present in FXT (downside is slowness and a big file). When you convert to control points, you're filtering out the ticks which are less useful. So basically instead of having 100-200 ticks per minute, you've only 4 major ticks per minute (OHLC values). In open price mode, you've only open values per timeframe (e.g. M1).

[2018-10-11 11:50] kenorb commented on #89
Let me know if anything needs further clarification.

[2018-10-11 18:59] ryu0 commented on #89
I've been reviewing the open prices model, and it appears MT4 does some weird things. For some timeframes, it chooses to output one tick, on others it chooses to output two ticks. When generating two ticks, it appears to generate one for the start and another for the end of the timeframe.

Any ideas how I should handle this? I can't seem to find any correlations to explain why and when it chooses

[2018-10-11 19:44] kenorb commented on #89
Maybe MT4 is using data from 'the nearest less timeframe must be available'.

Please check [this Support point section](https://www.mql5.com/en/articles/75). But I'm not sure if this is
 the same as _Control points_ mode

If it's not clear, try to make it more logical, as fat as MT4 won't generate any validation data errors during testing.

In my understanding _Control mode_ can be done in two way

[2018-10-13 19:31] #89 closed

[2018-10-16 12:39] ryu0 commented on #86
Is this still an issue?

[2018-10-16 13:36] kenorb commented on #86
@ryu0 I think it is. If the steps aren't clear, I can double check them this evening. I think now the approach is to use Docker container, but syntax using `run_backtest.sh` in order to reproduce issue should be the same.

[2018-10-18 22:54] kenorb commented on #86
@ryu0 I've tested and the problem can be still reproduced. I've updated description to use `docker` syntax.

Here is the example:

    docker run ea31337/ea-tester run_backtest -v -t -M4.0.0.1010 -d 1000 -p EURUSD -m 1-12 -y 2015 -s 10 -b DS -D5 -e TestFXTHeader

The main error which appears:

In summary, the error happens, because of some problem in the data which has been converted from CSV into

[2019-01-12 21:46] kenorb commented on #87
Fixed in GH-89

[2019-01-12 21:46] #87 closed

[2019-06-21 12:40] kenorb opened #95 "AttributeError: mode 'mmap' has no attribute 'PROT_READ'"
![image](https://user-images.githubusercontent.com/266306/59922908-d8009e80-9429-11e9-9afc-08d38d0a23e7.png)
![image](https://user-images.githubusercontent.com/266306/59924852-9aeadb00-942e-11e9-852e-fba49acab120.png)

Tested on Windows, with Python 3.7.

Could it be Windows limitation of `mmap`. The script should have a fallback to use non-mmap approach.

Refs:
- [loading file in memory using Pyt

[2019-06-21 13:26] kenorb commented on #95
Fix: `mmap.mmap(self.path.fileno(), 0, access=mmap.ACCESS_READ)`

[2019-06-21 22:16] kenorb commented on #95
Fixed in ed85d20996e1cc73ffd38607a9bcf824f80d3c45

[2019-06-21 22:16] #95 closed

[2019-06-22 21:37] kenorb opened #96 "dl_bt_dukascopy.py: Combine all CSV into one"
Currently, the `dl_bt_dukascopy.py` script downloads bi5 files, and converts it into separate CSV files.

It would be great, if can combine all data into one CSV file after it finishes, by specifying extra parameter.

Similarly as [`go-duka`](https://github.com/Adyzng/go-duka/) tool.

![image](https://user-images.githubusercontent.com/266306/59969117-4fbfed80-953e-11e9-88db-f5c5b0601551.png)

[2019-06-22 21:58] kenorb opened #97 "Prices of XAUUSD/XAGUSD are not correct"
Reproduction steps:

1. Run: `./dl_bt_dukascopy.py -p XAUUSD -y 2013 -m 3 -d 1 -c`
2. Run: `head download/dukascopy/XAUUSD/2013/03/2013-03-01--01h_ticks.csv`.

Result:
[code]

Correct prices should be like:
[code]
![image](https://user-images.githubusercontent.com/266306/59969388-15594f00-9544-11e9-9972-53ad92c6daf0.png)

Please check the XAUUSD CSV file at https://www.dukascopy.com/plugins/fxMark

[2019-06-23 14:23] kenorb opened #98 "FXT data is missing first 1h"

[2019-06-23 16:33] #98 closed

[2019-06-25 20:15] kenorb commented on #97
Fixed as part of GH-99.

[2019-06-25 20:15] #97 closed

[2019-12-04 22:49] brunofarina commented on #86
Hi. Is this still an issue, right?

[2019-12-04 23:32] kenorb commented on #86
@brunofarina I think it's still the issue.

[2019-12-06 02:56] artskeem commented on #86
Lol so is this the code challenge? Or we haven't gotten there yet

[2020-01-27 13:00] brunofarina commented on #86
@kenorb I'm able to working on this issue.

[2020-03-22 22:22] kenorb opened #100 "_csv.Error: need to escape, but no escapechar set"
[code]

[2020-05-08 20:47] kenorb opened #101 "Convert volumes to be consistent"
Related: FX-Data/FX-Data-EURUSD-DS/issues/5

[2020-06-29 12:36] JafferWilson opened #102 "TestGenerator: file EURUSD1_0.fxt cannot open [5] - is read-only"
I have tried converting the csv file into fxt. But I have got error while I tried to use it in the metatrader 4 strategy tester.
I used this script `convert_csv_to_mt.py` and the data from here https://github.com/FX-Data/FX-Data-EURUSD-DS/tree/EURUSD-2019
But the metatrader Strategy tester not accepting the file.
Please help me @kenorb . I tried to use the telegram but the app was not working in t

[2020-06-29 12:48] JafferWilson commented on #102
@kenorb This is the error:
[code]

[2020-06-29 19:00] kenorb commented on #102
Can you make it not read-only?

[2020-06-30 07:53] JafferWilson commented on #102
But if I make it not read only then the Strategy Tester rewrite my file with the system generated ticks and not my ticks.
Please can you help?
I have a request. Can you please make your `convert_csv_to_mt.py` headerchanged to
[code]
This is working. Here you will find it: https://www.mql5.com/ru/code/viewcode/11686/131989/fxtfilemaker_script_ad.mq4

[2020-06-30 07:54] JafferWilson commented on #102
The issue is through the header only I guess. It is not the problem with file being read only.

[2020-06-30 09:51] kenorb commented on #102
The header is fine, and you can compare with https://github.com/EA31337/MT-Formats/blob/master/fxt-405-refined.mqh which the script is based on.

Different scripts are working differently. Maybe there is a special value in header which allows files to be read-only, but I don't know which one. So this file require you to have not read-only file, as it's not needed. You'll get the same test.

Older

[2020-06-30 09:58] kenorb commented on #102
So the converted header values, last time when I've checked few years back, should looks like:

[code]

[2020-06-30 11:45] JafferWilson commented on #102
Thank you for your kind replies. But I do not understand why the download FXT file or the converted FXT file not working as they should have. May be I am not able to understand the usage of the script. I will try it again.
But if you do not make the file read-only, the platform will edit the fxt file and feed the auto generated ticks. Not the one we have feed.
I do not know what to do. But I will

[2020-06-30 17:28] kenorb commented on #102
If you will backtest in off-line test, it won't add any new ticks, it'll just re-generate it.

[2020-06-30 17:44] kenorb commented on #102
Let me give you the usage example:

1. CSV files from [FX-Data-EURUSD-DS](https://github.com/FX-Data/FX-Data-EURUSD-DS/tree/EURUSD-2019) repo are converted to FXT files, then uploaded as [Releases files](https://github.com/FX-Data/FX-Data-EURUSD-DS/releases/tag/2019) using [Travis CI scripts](https://travis-ci.org/github/FX-Data/FX-Data-EURUSD-DS/builds/698734474) (this is going to be converted to

[2020-07-01 07:06] JafferWilson commented on #102
Wow. Thank you for the help. I will definitely go through this.

[2020-07-01 07:06] #102 closed

[2020-07-03 16:24] JafferWilson opened #103 "Request: Please give a simple syntax of Usage."
@kenorb  I am having trouble understanding how to use the files. Please give example of the usage.  If possible then for the read and modify.

[2020-07-04 21:43] kenorb commented on #103
Most of Python scripts got `-h`/`--help` param to show the syntax. E.g.

[code]

Example:

- `convert_csv_to_mt.py -v -i file.csv -s EURUSD -p 10 -t M1 -f hst4` (see: [Makefile](https://github.com/FX-Data/FX-Data-Test/blob/fe867b3449f799a667a3060fc8eb81d73ec4d5e5/Makefile))

Furthermore, I've moved `convert_mt_to_csv.py` and `convert_csv_to_mt.py` to [FX-Data-Convert-Action](https://github.com/FX3

[2020-07-05 06:41] JafferWilson commented on #103
I was interested in the modify script. I have tried the `-h` but there was not much information about how to place the key group in the command line. I tried my ways but failed to do so. Hence, I was looking for some syntax/example of the usage. I guess it will be helpful to all.

[2020-07-05 21:38] kenorb commented on #103
## `mt_read`/`mt_modify` usage examples (related GH-154):

### Changing symbol

[code]

### Modifying test date

[code]

### Modifying float type

[code]

### Modifying HCC header values

[code]

### Modifying server files (`.srv`)

[code]

[2020-07-05 21:48] kenorb commented on #103
Key group param is only used for `symbols.raw`/`symgroups` files, where entries are grouped.

Docker example:

[code]

[2020-07-06 07:29] JafferWilson commented on #103
That will do. Thank you. Hey I was just wondering if you can tell me whether it is possible to decompile the Ex4 file to MQ4 file? I saw your wrapper, but it is not working as the version of the MT4 is higher. I hope I do not offend you by asking this.

[2020-07-06 09:13] kenorb commented on #103
I don't know any tool/methods for the new builds. Could be possible, but it'll require a lot of coding effort. The 99% of online tools and services are scams.

[2020-07-06 10:15] JafferWilson commented on #103
@kenorb Yeah.. Thank you for the help. I will use the syntax. I can even add a wiki type page to your repository that will include the syntax. It will help many.

[2020-07-06 10:34] #103 closed

[2021-04-09 08:16] kenorb commented on #101
Fixed in 390111c7c91744e7aa6f297ed4fd84202dae5bca.

[2021-04-09 08:16] #101 closed

[2021-04-09 10:12] kenorb opened #107 "Convert CI into GitHub Actions"

[2021-04-18 13:42] kenorb opened #108 "Load CSV from the directory instead of file"
When `-i` (input) is a directory, scan for all CSV files and load them as input.

[2021-04-27 15:49] kenorb opened #109 "TestGenerator: unmatched data error"
- Timeframe: M5
- Refs: https://github.com/FX-Data/FX-Data-EURUSD-DS/issues/8

[2021-11-23 22:53] Uptacknerd commented on #88
Hi

I observed the same problem. After some researches, I found that a fxt file generated by MT4 itself also shows a this final bar with all values to zero and a date of 1970-0&-01 00:00:00. The fxt does not contains such bar at the end, so I believe there is a bug in MT4

[2022-01-13 03:49] simplevulnerabilitymanager opened #110 "ChangeURL"
Hello,
The new url to download is:
datafeed.dukascopy.com

you must change the url
www.dukascopy.com by datafeed.dukascopy.com

[2022-03-26 17:31] #110 closed

[2022-08-18 14:32] rahmangunawans opened #112 "how usage stream candles ?"
please i need example :(.

[2022-08-18 16:25] kenorb commented on #112
Which script you're referring to?

[2022-08-26 11:52] rahmangunawans commented on #112
from iqoptionapi.stable_api import IQ_Option
iq=IQ_Option("", "")
def start_price_stream(symbol,timeframe):
    timeframe = (timeframe)
    iq.start_candles_stream(symbol,int(timeframe),1)
    time.sleep(0.5)
    vela = iq.get_realtime_candles(symbol,int(timeframe))
    for velas in  list(vela):
            date = vela[velas]["from"]
            open = vela[velas]["open"]
            high = vela[v

[2022-08-27 16:02] kenorb commented on #112
HST format is for historical candle data, for ticks you need to use FXT format. Unless you mean candles, not ticks.